@font-face 
	font-family: 'Rubik'
	src: url('../assets/fonts/Rubik-Regular.eot')
	src: url('../assets/fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype')
	src: url('../assets/fonts/Rubik-Regular.woff') format('woff')
	src: url('../assets/fonts/Rubik-Regular.ttf') format('truetype')
	font-weight: 400
	font-style: normal

@font-face 
	font-family: 'Rubik'
	src: url('../assets/fonts/Rubik-Medium.eot')
	src: url('../assets/fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype')
	src: url('../assets/fonts/Rubik-Medium.woff') format('woff')
	src: url('../assets/fonts/Rubik-Medium.ttf') format('truetype')
	font-weight: 500
	font-style: normal

@font-face 
	font-family: 'Rubik'
	src: url('../assets/fonts/Rubik-SemiBold.eot')
	src: url('../assets/fonts/Rubik-SemiBold.eot?#iefix') format('embedded-opentype')
	src: url('../assets/fonts/Rubik-SemiBold.woff') format('woff')
	src: url('../assets/fonts/Rubik-SemiBold.ttf') format('truetype')
	font-weight: 600
	font-style: normal


@font-face 
	font-family: 'Rubik'
	src: url('../assets/fonts/Rubik-Bold.eot')
	src: url('../assets/fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype')
	src: url('../assets/fonts/Rubik-Bold.woff') format('woff')
	src: url('../assets/fonts/Rubik-Bold.ttf') format('truetype')
	font-weight: 700
	font-style: normal

html
	font-size: 62.5%

body 
	@include font(1.4rem, 1.7rem, 400)

h1, h2, h3, h4, h5, h6 
	color: var(--white-color)

.first-title 
	@include font(10rem, 10rem, 600)

.second-title 
	@include font(4rem, 4.7rem, 600)

.third-title 
	@include font(1.9rem, 2.3rem, 600)
	text-transform: uppercase 

.fourth-title 
	@include font(1.6rem, 1.9rem, 700)

.fivth-title
	@include font(1rem, 1.2rem, 600)
	text-transform: uppercase




    
    