.wrapper 
	position: relative
	overflow: hidden
	grid-column: full-start / full-end
	&> .animated-span
		display: block
		position: absolute 
		width: 70vw 
		height: 100% 
		right: 0 
		top: 0 
		background-color: var(--bg-color)
		@include animation(animate, 10s, 1.2s, forwards)
		z-index: 1
	&::after,&::before
		content: ''
		position: absolute 
		z-index: -2
		right: 0 
		top: 0
		display: block 
		width: 70vw
		height: 100% 
	&::before 
		background: linear-gradient(89.79deg, #1C2023 0.2%, rgba(28, 32, 35, 0) 41.42%), url('../assets/img/promo-bg.jpg')
		@include bg 
	&::after 
		background: linear-gradient(89.79deg, #1C2023 0.2%, rgba(28, 32, 35, 0) 41.42%), url('../assets/gif/snow.gif') 
		@include bg 
		opacity: .2
	&__inner 
		max-width: 146rem 
		padding: 0 3rem
		width: 100% 
		margin: 0 auto

.hero 
	position: relative 
	z-index: 2
	max-width: 54rem 
	width: 100%
	@include animation(leftToRight, 2s, .4s, backwards)
	animation-name: leftToRight
	animation-duration: 2s
	animation-delay: .4s
	&__title 
		margin-bottom: 2.7rem
	&__descr
		@include font(1.8rem, 2.7rem)
		color: var(--text-second-color)
		margin-bottom: 5rem

.editions
	grid-column: col-start 2 / col-end 9
	padding-top: 5rem
	display: grid 
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr))
	justify-items: center
	gap: 1.6rem
	transform: translateY(100px)
	opacity: 0
	transition: transform .5s ease, opacity .3s
	margin-bottom: 5.5rem
	&__title 
		text-align: center
		grid-column: 1 / -1
		margin-bottom: 1.4rem

.controller 
	grid-column: col-start 2 / col-end 9
	padding: 0 8rem
	transform: translateY(100px)
	opacity: 0
	transition: transform .5s ease, opacity .3s
	&__title 
		text-align: center
		margin-bottom: 2.5rem
	&__inner 
		display: flex
		align-items: center 
		column-gap: 16.5rem
	&__info 
		max-width: 42.5rem 
		width: 100%
		color: var(--white-color)
		@include animation(leftToRight, .6s, .3s, backwards, paused)
	&__descr 
		@include font(1.8rem, 2.7rem)
		margin-bottom: 2.1rem
		&:last-child
			margin-bottom: 3rem
	&__action 
		display: flex
		justify-content: space-between
		align-items: center
	&__price 
		@include font(3rem, 3.6rem, 700)
	&__btn 
		@include btn(var(--secondary-color), var(--secondary-color-darker), var(--secondary-color-darkest))
	&__img-box 
		position: relative
		@include animation(rightToLeft, .6s, .3s, backwards, paused)
		&::after
			content: ''
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: 200px
			height: 120px
			z-index: -1
			background: rgba(79, 96, 152, 0.8)
			filter: blur(75px)
	&__img 
		@include animation(infinity, 5s, .6s, both, paused)
		animation-iteration-count: infinite



.about 
	grid-column: full-start / full-end

.explore 
	grid-column: col-start 3 / col-end 8

.news 
	grid-column: full-start / full-end

.faq 
	grid-column: col-start 2 / col-end 9
	padding: 0 8rem

.footer 
	grid-column: col-start 2 / col-end 9
	padding: 0 8rem


