:root
	--color: 263
	--h: 63%
	--l: 59%
	
	--accent-color: hsl(var(--color), var(--h),  var(--l))
	--accent-color-darker: hsl(var(--color), var(--h),  calc(var(--l) - 10%))
	--accent-color-darkest: hsl(var(--color), var(--h), calc(var(--l) - 30%))

	--secondary-color: #FF4136
	--text-color: #A9C7C7
	--text-second-color: #8C96A0
	--bg-color: #1C2023	
	--white-color: #fff







$main-font: 'Rubik'